@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
#03071E
#370617
#6A040F
#9D0208
#D00000
#DC2F02
#E85D04
#F48C06
#FAA307
#FFBA08
 */

@keyframes moveBall {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100px);
  }
}


.ball{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  animation: moveBall 2s both;
}